@import "reset";
@import "footer";
@import "header";
@import "shelf";

body {
  background-color: $white;
}

.container {
  margin: 0 27px;
}

.go-top {
  display: none;

  &.show {
    display: flex;
  }

  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  bottom: 95px;
  right: 15px;
  border-radius: 50%;
  background-color: #a5a5a5;
  opacity: 0.8;
  border: 1px solid #a5a5a5;
  box-shadow: 0 1px 4px #a5a5a5;
  cursor: pointer;
  z-index: 2;
  align-items: center;
  justify-content: center;
  z-index: 10;

  #arrow {
    position: absolute;
    padding: 7px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transition: all 0.3s ease;
    transform: rotate(136deg);
  }

  span {
    display: none;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    text-align: center;
    color: $white;
    padding: 0 7px;
  }
}
