@import "reset";

$white: #ffffff;
$black: #000000;
$gray1: #808080;
$gray2: #666666;
$primary: #00c0ee;

body {
  background-color: $white;
}

.container {
  margin: 0 27px;
}

.header {
  margin-top: 16px;
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 18px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 100%;
      height: 100%;
    }

    &__cart {
      border: none;
      background-color: transparent;
      position: relative;
      cursor: pointer;

      &-text {
        position: absolute;
        background-color: $primary;
        width: 12px;
        height: 12px;
        border-radius: 16px;
        color: $white;
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        line-height: 12px;
        bottom: 0;
        right: 0;
        padding: 2px;
      }
    }
  }
}

.shelf {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__top {
    width: 100%;

    &__title {
      font-family: "Open Sans", sans-serif;
      font-size: 32px;
      line-height: 44px;
      color: #333333;
      margin-bottom: 12px;
      text-align: center;
    }

    &__buttons {
      display: flex;
      width: 100%;

      .shelf__top__button {
        width: 50%;
        border: 1px solid $gray2;
        background-color: transparent;
        color: $gray2;
        font-family: "Open Sans", sans-serif;
        font-size: 23px;
        line-height: 33px;
        padding: 8px 0;
        cursor: pointer;
      }
    }
  }

  &__filter {
    display: none;

    &.show {
      display: block;
      overflow: auto;
      height: 100%;
    }

    &.filter {
      .shelf__filter-content__option {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.05em;
        color: $gray2;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
          content: "";
          display: block;
          background-image: url("../img/icons/arrow.svg");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          width: 18px;
          height: 13px;
          right: 0;
        }
      }

      .shelf__filter-content__options {
        display: none;

        &.show {
          display: block;
        }

        &.colors,
        &.prices {
          .shelf__filter-content__options__input {
            margin-bottom: 18px;

            input[type="checkbox"] {
              display: inline-block;
              vertical-align: middle;

              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              width: 1px;
            }

            label {
              font-size: 14px;
              line-height: 100%;
              color: $black;
              position: relative;
              padding-left: 2.2em;

              &::before,
              &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 16px;
                width: 16px;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 0.5);
                transition: all 0.2s ease;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
              }
            }

            input[type="checkbox"]:checked + label::after {
              width: 10px;
              height: 10px;
              left: 3px;
              background-color: $primary;
            }

            input[type="checkbox"]:checked + label::after {
              opacity: 1;
            }
          }
        }

        &.sizes {
          display: none;

          &.show {
            display: flex;
          }

          max-width: 153px;
          flex-wrap: wrap;
          justify-content: space-between;

          .shelf__filter-content__options__input {
            width: 32px;
            height: 32px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;

            &[data-selected="true"] {
              border: 1px solid $primary;

              label {
                color: $black;
              }
            }

            input[type="checkbox"] {
              display: none;
            }

            label {
              font-size: 16px;
              line-height: 22px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    font-family: "Open Sans", sans-serif;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-bottom: 1px solid $gray1;

      &__title {
        font-size: 28px;
        line-height: 38px;
        text-transform: uppercase;
        color: $gray2;
      }

      &__close {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 23px;
      }
    }

    &-content {
      margin-top: 30px;
      padding: 0 16px;

      &__option {
        font-size: 22px;
        line-height: 30px;
        cursor: pointer;
        margin: 30px 0 21px 0;
      }

      &-menu {
        margin-top: 31px;
        width: 100%;
        display: flex;
        gap: 23px;

        &-button {
          width: 50%;
          font-size: 14px;
          line-height: 19px;
          text-transform: uppercase;
          padding: 8px;
          border: none;
          background-color: transparent;
          border: 1px solid #666666;

          &.apply {
            background-color: $primary;
            color: $white;
            border: none;
          }
        }
      }
    }
  }

  &__products {
    display: flex;
    gap: 25px;
    margin-top: 35px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    .shelf__product {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      max-width: 46%;
      cursor: pointer;

      &-name {
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: $black;
        margin-top: 8px;
      }

      &-price {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: $black;
        margin-top: 8px;
      }

      &-installments {
        font-size: 16px;
        line-height: 22px;
        color: $gray2;
      }

      &-buybutton {
        background-color: $black;
        border: none;
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        margin-top: 19px;
        padding: 7px;
        cursor: pointer;
      }
    }
  }

  &__show-more {
    margin-top: 39px;
    background-color: $primary;
    width: 175px;
    height: 35px;
    border: none;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-transform: uppercase;
    cursor: pointer;

    &.empty {
      background-color: transparent;
      color: $black;
      width: 100%;
      text-transform: inherit;
    }
  }
}

.footer {
  background-color: #000000;
  padding: 7px;
  margin-top: 51px;

  &__title {
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
